*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="dark"] body {
  background-color: #36454F;
  color: #FFFFFF;
}


body{
  inline-size: 50%;
  margin: auto;
  font-size: 14px;
  background-color: #FFFFFF;
  color: #36454F;
}

button{
  background-color: inherit;
  border: none;
}

input{
  border: none;
  outline: none;
  background-color: #e2e2e2;
  opacity: 0.4;
  border-radius: 9px;
  color: #36454F;
  padding: 0.5rem;
  font-size: 16px;
}

input::placeholder{
  font-size: 12px;
  color: #36454F;
}

@media(max-width: 768px){
  body{
    inline-size: 95%;
  }

  input{
    font-size: 9px;
  }

}

@media (min-width: 767px) and (max-width: 1100px) {
  body{
    inline-size: 80%;
  }
}
