.header{
    margin-block-start: 0.8rem;
}

.icon{
    text-align: end;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block-start: 0.7rem;
}

.logo{
    display: flex;
    gap: 0.2rem;
    align-items: flex-end;
}

.logo p{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 20px;
}

.form{
    position: relative;
}

.formicon{
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
}

.vertical{
    border: 0.5px #333333 solid;
    inline-size: 100%;
    margin-block-start: 1rem;
}

@media(max-width: 768px){
    .formicon{
        top: 0.2rem;
    }
}